[Unit]
Description=Eclipse KUKSA.val databroker
After=network.target

[Service]
User=kuksa
EnvironmentFile=-/etc/default/kuksa-databroker
ExecStart=/usr/bin/databroker $EXTRA_ARGS
Restart=on-abort

[Install]
WantedBy=multi-user.target
