[Unit]
Description=cluster-gauges-qtcompositor

[Service]
User=agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001
ExecStart=/usr/bin/cluster-gauges

Restart=always

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
