[Unit]
Description=AGL Homescreen
Requires=WebAppMgr.service dbus.service
After=WebAppMgr.service dbus.service

[Service]
Type=simple
User=agl-driver
EnvironmentFile=-/etc/default/WebAppMgr.env
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStartPre=sleep 5
ExecStart=/usr/bin/WebAppMgrCli --appid=homescreen --app-install-dir=/usr/lib/wam_apps/html5-homescreen/
Restart=on-failure

[Install]
WantedBy=graphical.target
