[Unit]
Description=cluster-dashboard

Requires=agl-compositor.service
After=agl-compositor.service

# Since we are part of the agl session, make sure we are started before
# it is complete.
Before=graphical.target

[Service]
User=agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStart=/usr/bin/cluster-dashboard

Restart=always

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
