[Unit]
Requires=agl-compositor.service
After=agl-compositor.service

[Service]
Type=simple
User=agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStart=/usr/bin/tbtnavi
Restart=on-failure

[Install]
WantedBy=graphical.target
