[Unit]
Requires=agl-compositor.service
After=agl-compositor.service

[Service]
User=agl-driver
EnvironmentFile=/etc/default/flutter
EnvironmentFile=-/etc/default/flutter-cluster-dashboard
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStart=/usr/bin/flutter-auto --b=/usr/share/flutter/flutter_cluster_dashboard/${FLUTTER_VERSION}/${FLUTTER_RUNTIME} --j=/usr/share/flutter/flutter-cluster-dashboard.json
Restart=on-failure

[Install]
WantedBy=graphical.target
